.syoukai{
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  width: 50%;
}
.setumei{
  display: flex;
  justify-content: space-between;
}
.yakyu{
  font-size: 30px;
  width: 50%;
  text-align: center;
}
.as{
  border-bottom: solid #32cd32;
  text-align: center;
  margin-top: 50px;
  margin-right: 70px;
  margin-left: 70px;
}
.yuyu{
  text-align: left;
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 15px;
  font-size: 25px;
}
.tweet-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 10vw 30px 10vw;
}
.tweet-all{
  text-align: center;
  margin-top: 20px;
}
.tweet-title{
  font-weight: bold;
  color: black;
}
.tweet-text{
  color: black;
}
.imag-img{
  text-decoration: none;
}
.tweet-img{
  height: 25vh;
  width: 25vh;
}
.seach{
  text-align: center;
}

.seach-forms{
  padding-top: 15px;
  margin-left: 20vw;
  margin-right: 20vw;
  border: thick double green;
  align-items: center;
}

.seach-ob{
  font-weight: bold;
  margin-right: 33vw;
  font-size: 23px;
}

.seach-input{
  width: 30vw;
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.seach-btn{
  padding: 5px 20px 5px 20px;
}